name: Docker Image Release Workflow Multi-Arch

on:
  release:
    types: [published]

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: praveenkarunarathne
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ github.repository_owner }}/http-to-tftp-bridge:latest
            ${{ github.repository_owner }}/http-to-tftp-bridge:${{github.ref_name}}
            ghcr.io/${{ github.repository_owner }}/http-to-tftp-bridge:latest
            ghcr.io/${{ github.repository_owner }}/http-to-tftp-bridge:${{github.ref_name}}